@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202430;
  color: #fbfbfb;
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "poppins";
}
